body {
    background-color: #F9A21B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #1f2f8a;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    transition: transform 0.35s ease, box-shadow 0.3s ease;
}

/* sembunyi */
.navbar.hide {
    transform: translateY(-100%);
}

/* pas ada scroll */
.navbar.scrolled {
    box-shadow: 0 6px 20px rgba(0,0,0,0.35);
}

.navbar h2 {
    color: #F9A21B;
    margin-right: auto;
    text-shadow: black 4px 4px 4px;
}

.logo {
    width: 60px;
    height: 60px;
    /* logo kosong */
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar nav a {
    color: #F9A21B;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-shadow: black 4px 4px 4px
}

.h2-title-wrapper {
    padding-left: 50px;
    padding-top: 100px;
}

.education-wrapper {
    padding: 50px;
    padding-top: 20px;
    background: #F9A21B;
}

/* CARD UTAMA */
.edu-card {
    background: #F9A21B;
    border: 5px solid black;
    box-shadow: black 12px 12px 0;
    padding: 30px;
    margin-bottom: 60px;

    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease-out forwards;
}

/* delay card kedua */
.delay-1 {
    animation-delay: 0.3s;
}

.edu-title {
    background: black;
    color: #F9A21B;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 15px;
}

.edu-desc {
    margin-bottom: 25px;
    line-height: 1.6;
}

/* ITEM */
.edu-item {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.edu-item img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    border: 4px solid black;
    box-shadow: black 8px 8px 0;
}

.edu-info h4 {
    margin-bottom: 6px;
}

.edu-info p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* BUTTON */
.btn {
    display: inline-block;
    background: black;
    color: #F9A21B;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 13px;
}

/* ANIMASI */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* FOOTER */
footer {
    background: #1f2f8a;
    color: #f9b233;
    text-align: center;
    padding: 15px;
}