body {
    background-color: #F9A21B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #1f2f8a;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    transition: transform 0.35s ease, box-shadow 0.3s ease;
}

/* sembunyi */
.navbar.hide {
    transform: translateY(-100%);
}

/* pas ada scroll */
.navbar.scrolled {
    box-shadow: 0 6px 20px rgba(0,0,0,0.35);
}


.navbar h2 {
    color: #F9A21B;
    margin-right: auto;
    text-shadow: black 4px 4px 4px;
}

.logo {
    width: 60px;
    height: 60px;
    /* logo kosong */
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar nav a {
    color: #F9A21B;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    text-shadow: black 4px 4px 4px
}

/*Wisata & Kuliner*/
.tour-container {
    max-width: 1300px;
    margin: 60px auto;
    margin-top: 100px;
    padding: 40px;
    border: 6px solid black;
    box-shadow: black 12px 12px 0;
    background: #f7a21b;

    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 0.8s ease-out forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-title {
    background: black;
    color: #f7a21b;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 40px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.tour-card {
    position: relative;
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: black 12px 12px 0;
    transition: transform 0.2s ease;
}

.tour-card:hover {
    transform: translateY(-8px) scale(1.03);
}

.tour-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    color: #ffb020;
}

.card-overlay h3 {
    margin: 0;
}

.card-overlay p {
    font-size: 14px;
}


/* FOOTER */
footer {
    background: #1f2f8a;
    color: #f9b233;
    text-align: center;
    margin-top: 100px;
    padding: 15px;
}